<div class="row-offcanvas row-offcanvas-left">
  <div class="row no-gutters">
    <div id="brand" class="sidebar-offcanvas">
      <div class="col-md-12">
        <div class="row text-center sidetxt">
          <h3 class="h3txt"> Raji Rudhrakumar </h3>
          <h4 class="h4txt"> Web Developer </h4>
        </div>
      </div>
    </div>
    <div id="navibar">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <%= render 'shared/navbar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <div class="row">
      <p> Photo</p>
      </div>
      <div class="row sideblock">
        <p>Email</p>
        <p>Phone</p>
        <p>Sms</p>

      </div>
    </div>
  </div>
  <div id="main">
    <!-- <div id="sticky">
      sticky header
      </div> -->
    <div class="col-md-12">
      <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </p>
      <div class="row">
        <%= yield %> 
      </div>
    </div>
  </div>
</div>
<!--/row-offcanvas -->

