// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body,
html {
  overflow: hidden;
  /*blue gradient */
  background: rgba(52, 152, 219, 1);
  background: -moz-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52, 152, 219, 1)), color-stop(50%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(52, 152, 219, 1)));
  background: -webkit-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -o-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -ms-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: linear-gradient(to right, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#3498db', GradientType=1);
}

body {
  margin: 1%;
  padding: 0px;
  font-family: Prosto, Arial;
  font-size: 12px
}

.row-offcanvas {
  height: 98%;
 /* background-color: #000;*/
}

#brand {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  float: left;
  position: relative;
}

#navibar {
  overflow: hidden;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  /*background-color:#000;*/
  float: left;
  height:98%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:98%;
  overflow:auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>[class^="col-"],
.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
   
   .visible-xs {
    padding-top: 10px;
  }

  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

